@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Afacad Flux';
  src: url('./fonts/AfacadFlux-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Afacad Flux', sans-serif;
}